/* Global Styles */
:root {
    --primary-color: #e50914;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-content {
    position: relative;
    z-index: 2;
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

/* Tabs */
.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
    border-right: none;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container>div {
    padding: 1.5rem 0;
}

.tabs .container>div:hover {
    color: #fff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */
.tab-content {
    padding: 3rem 0;
    /* background: #000; */
    color: rgb(3, 3, 3);
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
    opacity: 0;
}

.show {
    display: block !important;
    opacity: 1 !important;
    transition: all 1000 ease-in;
}

#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    text-align: center;
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table tbody tr td {
    color: rgb(2, 2, 2);
    padding: 0.8rem 1.2rem;
    text-align: center;
    font-weight: 700;
    /* border-bottom: 1px solid #ccc; */
    
}

.table tbody tr td:first-child {
    text-align: left;
}

/* .table tbody tr:nth-child(odd) { */
    /* background: #222; */
/* } */

.footer {
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}

.footer,
.footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9;
}

.footer .lang-select {
    margin-top: 2rem;
    color: #999;
    background-color: #000;
    background-image: none;
    border: 1px solid #333;
    padding: 1rem 1.2rem;
    border-radius: 5px;
}

/* Container */
.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Text Styles */
.text-xl {
    font-size: 2rem;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}

/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn-icon {
    margin-left: 1rem;
}

@media (max-width: 960px) {

    .showcase {
        height: 70vh;
    }

    .hide-sm {
        display: none;
    }

    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1.5rem;
    }

    .footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-xl {
        font-size: 1.5rem;
        padding: 1.4rem 2rem;
        text-transform: uppercase;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .text-md {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .showcase::after {
        background: rgba(0, 0, 0, 0.6);
        box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
    }

    .showcase-content h1 {
        font-size: 2.5rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1rem;
    }

    #tab-1-content .tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab-2-content .tab-2-content-top {
        display: block;
        text-align: center;
    }

    #tab-2-content .tab-2-content-bottom {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
    }

    .btn-xl {
        font-size: 1rem;
        padding: 1.2rem 1.6rem;
        text-transform: uppercase;
    }
}

@media(max-height: 600px) {
    .showcase-content {
        margin-top: 3rem;
    }
}
.last_row{
    border-bottom: 1px solid #ccc;
}

/* boxes */

.planGrid__header {
    align-items: flex-end;
    display: flex;
    flex-direction: column
}


.planGrid__selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0
}

@media only screen and (max-width: 950px) and (min-width:601px),
only screen and (min-width:951px) {
    .planGrid--has1Plans .planGrid__selector {
        width: 20%
    }

    .planGrid--has2Plans .planGrid__selector {
        width: 40%
    }

    .planGrid--has3Plans .planGrid__selector {
        width: 60%
    }

    .planGrid--has4Plans .planGrid__selector {
        width: 65%
    }
}

@media only screen and (max-width: 600px) {
    .planGrid__selector {
        width: 100%
    }
}

.planGrid__selectorChoice {
    box-sizing: border-box;
    flex: 1 1 auto;
    position: relative
}

.planGrid__selectorInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: -1
}

.planGrid__selectorInput:focus {
    outline: none
}

.planGrid__selectorLabel {
    -webkit-touch-callout: none;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media only screen and (max-width: 950px) and (min-width:601px),
only screen and (min-width:951px) {
    .planGrid__planSelector {
        order: 1
    }
}

@media only screen and (max-width: 600px) {
    .planGrid__planSelector {
        order: 2
    }
}

.planGrid--has1Plans {
    width: 100%
}

.planGrid--has2Plans .planGrid__planChoice {
    width: 50%
}

.planGrid--has3Plans .planGrid__planChoice {
    width: 33.33333%
}

.planGrid--has4Plans .planGrid__planChoice {
    width: 25%
}

@media only screen and (max-width: 950px) and (min-width:601px),
only screen and (min-width:951px) {
    .planGrid__planChoice {
        padding: 12px 0;
    }
}

@media only screen and (max-width: 600px) {
    .planGrid__planChoice {
        padding: 8px 4px
    }
}

@media only screen and (min-width: 951px) {

    .planGrid__planInput,
    .planGrid__planLabel {
        height: 120px;
        width: 120px
    }
}

@media only screen and (max-width: 950px) and (min-width:601px) {

    .planGrid__planInput,
    .planGrid__planLabel {
        height: 90px;
        width: 90px
    }
}

@media only screen and (max-width: 600px) {

    .planGrid__planInput,
    .planGrid__planLabel {
        height: 75px;
        width: 100%
    }
}

.planGrid__planInput {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.planGrid__planLabel {
    background: #1e4d91;
    border-radius: 2px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin: 0 auto;
    opacity: .6;
    /* padding:18px; */
    text-align: center
}

@media only screen and (max-width: 600px) {
    .planGrid__planLabel {
        padding: 13px
    }
}


.planGrid__planInput:checked+.planGrid__planLabel {
    opacity: 1
}

.planGrid__planLabel:after {
    border: 0 solid transparent;
    border-top-color: #1e4d91;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%)
}

@media only screen and (max-width: 950px) and (min-width:601px),
only screen and (min-width:951px) {
    .planGrid__planInput:checked+.planGrid__planLabel:after {
        border-width: 10px 10px 0
    }
}

@media only screen and (max-width: 600px) {
    .planGrid__planInput:checked+.planGrid__planLabel:after {
        border-width: 15px 15px 0
    }

    .planGrid--has4Plans .planGrid__planLabel {
        font-size: 12px
    }
}

/* .switch {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #1E1E1E;
}

.switch input {
    appearance: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #1E1E1E;
    outline: none;
}

.switch input::before,
.switch input::after {
    z-index: 2;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    font-weight: bolder;
}

.switch input::before {
    content: "ON";
    left: 20px;
}

.switch input::after {
    content: "OFF";
    right: 20px;
}

.switch input:checked {
    background: #ff9800;
}

.switch label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 4px;
    border-radius: 20px;
}

.switch input {
    transition: 0.25s;
}

.switch input:checked::after,
.switch input:checked::before {
    color: #fff;
    transition: color 0.5s;
}

.switch input:checked+label {
    left: 10px;
    right: 100px;
    background: #1E1E1E;
    transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked) {
    background: #1E1E1E;
    transition: background 0.4s;

}

.switch input:not(:checked)::before {
    color: #ffff;
    transition: color 0.5s;
}

.switch input:not(:checked)::after {
    color: #1E1E1E;
    transition: color 0.5s 0.2s;
}

.switch input:not(:checked)+label {
    left: 100px;
    right: 10px;
    background: #ff9800;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
} */
